@charset "UTF-8"; 

body {
    background-color: aquamarine;
    font-size: 22px;
}
h1{
    color: brown;
    text-align: center;
}
h2{
    text-decoration: underline;
}
li{
    text-align: justify;
}